@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Dostop zavrnjen";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Nimate dostopa do te strani. Kontaktirajte skrbnika strani</p>
</header>
