@page
@model LockoutModel
@{
    ViewData["Title"] = "Blokiran dostop";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Vaš račun je trenutno nedostopen, prosim poiskusite kasneje.</p>
</header>
