@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Potrditev novega gesla";
}

<h2>@ViewData["Title"]</h2>
<p class="alert-success">
    Vaše geslo je bilo posodobljeno. Prosim <a asp-page="./Login">kliknite tukaj za prijavo</a>.
</p>
